.search {
  margin: auto;
  width: 250px;
  z-index: 10;
}

.search input {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  color: brown;
  width: 100%;
}

.resultsList {
  background-color: rgb(252, 252, 252);
  list-style: none;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  color: rgb(2, 0, 0);
  width: 100%;
  z-index: 10;
}
